@use "_colors.scss";
@import "_colors.scss";

html {
  background-color: $black;
}

* {
  margin: 0;
  font-family: "Lato", serif;
  font-weight: bold;
  color: $white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: bolder;
}

.page__content {
  margin-top: 80px;
  max-width: 100vw;
  overflow: hidden;
}

.page__content_margined-section {
  max-width: 1080px;
  margin: 0 auto;
}

@media (min-width: 768px) and (max-width: 1248px) {
  .page__content_margined-section {
    max-width: 710px;
  }
}

@media (max-width: 768px) {
  .page__content {
    margin-top: 48px;
  }

  .page__content_margined-section {
    margin: 0 30px;
  }
}
