@import "../../styles/_colors.scss"; // assuming a styles directory under src/

.navbar__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  background: $black;
  color: $white;
}

.navbar__wrapper > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
}

.navbar__links a {
  text-decoration: none;
  font-size: 18px;
}

.navbar__links a:hover {
  background-image: linear-gradient(120deg, $yellow, $pink);
  color: transparent;
  background-clip: text;
}

.navbar__links a:active {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .navbar__wrapper > div {
    height: 48px;
  }

  .navbar__wrapper .page__content_margined-section > a > svg {
    height: 24px;
    width: max-content;
  }

  .navbar__links {
    display: none;
  }
}
