.cart-icon-with-hover {
  width: 24px;
  height: 20px;
}
.cart-icon-with-hover__base-icon {
  display: block;
}
.cart-icon-with-hover__hover-icon {
  display: none;
}

.cart-icon-with-hover:hover .cart-icon-with-hover__base-icon {
  display: none !important;
}

.cart-icon-with-hover:hover .cart-icon-with-hover__hover-icon {
  display: block !important;
}
